body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

button {
    background: #f0c14b;
    border-color: #c59f3d #9c7e31 #846a29;
    color: #111;
    text-align: center;
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    font-size: 13px;
}

button:focus {
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: transparent;
    outline: none;
    box-shadow: 0 0 2px 4px rgb(224, 153, 47);
}

button:hover{
    cursor: pointer;
    background: #e7ba48;
    border-color: #a88734 #9c7e31 #846a29;
}

a {
    text-decoration: none;
    margin-left: 5px;
    color: #0066c0;
}

a:hover {
    text-decoration: underline;
    color: #e77600;
    margin-left: 5px;
}

.auth-form {
    border: 1px #ddd solid;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 20px 26px;
    margin-top: 2px;
}

.auth-form label{
    font-family: 'Open Sans', sans-serif;
}

.auth-div {
    margin: 0 auto;
    width: 350px;
}

.logo {
    transform: scale(1.1,2.5);
    height: 40px;
    width: 103px;
    display: inline-block;
    cursor: pointer;
    margin: 10px;
}
.auth-div span{
    margin: auto;
    display: block;
    padding: 9px;
    text-align: center;
}
.auth-div img {
    transform: scale(1.25,3.5);
    height: 31px;
    width: 103px;
    vertical-align: top;
    display: inline-block;
    cursor: pointer;
    content: "";
    text-align: center;
}

.auth-div img:hover {
    cursor: pointer;
}

.auth-div h2 {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    margin-top: 0px;
    margin-bottom: 10px;
}
.auth-div label {
    display: block;
    font-weight: 900;
    font-size: 13px;
    line-height: 19px;
    margin: auto;
}
.auth-div input {
    display: block;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    background-color: #fff;
    height: 31px;
    padding: 3px 7px;
    line-height: normal;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    width: 100%;
    margin: auto;
    outline: none;
}
.auth-div input:focus {
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
}


.already-have-account {
    font-size: 13px;
}

.new-to-site {
    line-height: 1;
    font-size: 12px;
    color: #767676;
    font-weight: 400;
    width: 100%;
    margin: auto;
    text-align: center;
    display: block;
    text-decoration: none;
    padding: 10px;
    box-sizing: border-box;
}

div.new-to-site {
    border-bottom: 1px solid #767676;
    height: 1px;
}

p.new-to-site {
    position: relative;
    top: -12px;
    left: 120px;
    padding: 5px;
    background-color: white;
    width: auto;    
    display: inline-block;
}

a.new-to-site {
    background: #e7e9ec;
    border-radius: 3px;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    padding: 5px;
    font-size: 13px;
    color: #111;
}

a.new-to-site:hover {
    margin: 0px;
    text-decoration: none;
    background: #d3d5d8;
}

.already-have-account {
    display: inline-block;
}

#auth-email {
    display: inline-block;
    font-size: 13px;
}

#pw-section {
    display: flex;
    justify-content: space-between;
}

#pw-section a {
    font-family: 'Lato', sans-serif;
}

#keep-signed-in p {
    margin: 0px;
    display: inline-block;
    font-size: 13px;
    box-sizing: border-box;
}

#keep-signed-in input {
    margin: 0px;
    height: 16px;
    width: 20px;
    display: inline-block;
    box-sizing: border-box;
}