html
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0px;
}
/* body {
    font-family: "Amazon Ember",Arial,sans-serif;;
    margin: 0;
} */

button {
    background: rgb(255,255,255);
    background-image: linear-gradient(rgb(247, 223, 165), rgb(240, 193, 75));
    border-color: #c59f3d #9c7e31 #846a29;
    color: #111;
    text-align: center;
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    font-size: 12.5px;
}

button:focus {
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: transparent;
    outline: none;
    box-shadow: 0 0 2px 4px rgb(224, 153, 47);
}

.auth-form button:focus {
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: transparent;
    outline: none;
    box-shadow: none;
}

button:hover{
    cursor: pointer;
    background-image: linear-gradient(rgb(247, 213, 165), rgb(240, 187, 75));    
    border-color: #a88734 #9c7e31 #846a29;
}

#demo-button {
    margin-top: 10px;
    background-image: linear-gradient(rgb(165, 224, 247), rgb(75, 207, 240));
    border-color: #048cb6 #024f66 #012d3a;
}

#demo-button:focus {
    box-shadow: 0 0 3px 3px rgb(47, 189, 224);
}

#demo-button:hover {
    background-image: linear-gradient(rgb(165, 214, 247), rgb(75, 197, 240));
    border-color: #035c77 #012e3b #011e27;
}

a {
    text-decoration: none;
    margin-left: 5px;
    color: #0066c0;
}

a:hover {
    text-decoration: underline;
    color: #e77600;
    margin-left: 5px;
}

.auth-form {
    border: 1px #ddd solid;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 20px 26px;
    margin-top: 2px;
}

.auth-form label{
    font-family: 'Open Sans', sans-serif;
}

.auth-div {
    margin: 0 auto;
    width: 350px;
}

.logo {
    /* transform: scale(1.05,2.85); animates scale change so you don't want this */
    height: 15vh;
    width: 25vw;
    display: inline-block;
    cursor: pointer;
    margin: 10px;
}
.auth-div span{
    margin: auto;
    display: block;
    padding: 9px;
    text-align: center;
}
.auth-div img {
    transform: scale(1.25,3.5);
    height: 31px;
    width: 103px;
    vertical-align: top;
    display: inline-block;
    cursor: pointer;
    content: "";
    text-align: center;
}

.auth-div img:hover {
    cursor: pointer;
}

.auth-div h2 {
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;
    margin-top: 0px;
    margin-bottom: 10px;
}
.auth-div label {
    display: block;
    font-weight: 900;
    font-size: 13px;
    line-height: 19px;
    margin: auto;
}
.auth-div input {
    display: block;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    background-color: #fff;
    height: 31px;
    padding: 5px 7px;
    line-height: normal;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    width: 100%;
    margin: auto;
    outline: none;
}
.auth-div input:focus {
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
}


.already-have-account {
    font-size: 13px;
}

.new-to-site {
    line-height: 1;
    font-size: 12px;
    color: #767676;
    font-weight: 400;
    width: 100%;
    margin: auto;
    text-align: center;
    display: block;
    text-decoration: none;
    padding: 10px;
    box-sizing: border-box;
}

.leaving-site {
    line-height: 1;
    font-size: 12px;
    color: #767676;
    font-weight: 400;
    width: 100%;
    margin: auto;
    text-align: center;
    display: block;
    text-decoration: none;
    padding: 10px;
    box-sizing: border-box;
}

div.new-to-site {
    border-bottom: 0.75px solid #bdbababb;
    height: 1px;
}

p.new-to-site {
    position: relative;
    top: -12px;
    left: 120px;
    padding: 5px;
    background-color: white;
    width: auto;    
    display: inline-block;
}

p.leaving-site {
    position: relative;
    top: -12px;
    left: 150px;
    padding: 5px;
    background-color: white;
    width: auto;    
    display: inline-block;
}

a.new-to-site {
    background-image: linear-gradient(rgb(247, 248, 250), rgb(231, 233, 236));
    border-radius: 3px;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 13px;
    color: #111;
}

a.new-to-site:hover {
    margin: 0px;
    text-decoration: none;
    background-image: linear-gradient(rgb(231, 234, 240), rgb(217, 220, 225));
}

a.leaving-site {
    background-image: linear-gradient(rgb(253, 77, 38), rgb(237, 36, 22));
    border-radius: 3px;
    border-color: #b88e8d #aa7b78 #946868;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    color: white;
    text-align: center;
    width: 100%;
    padding: 10px;
    font-size: 13px;
    margin: 0 auto;
}

a.leaving-site:hover {
    text-decoration: none;
    background-image: linear-gradient(rgb(236, 71, 34), rgb(226, 34, 21));
}

.already-have-account {
    display: inline-block;
}

#auth-email {
    display: inline-block;
    font-size: 13px;
}

#pw-section {
    display: flex;
    justify-content: space-between;
}

#pw-section a {
    font-family: 'Lato', sans-serif;
}

#keep-signed-in p {
    margin: 0px;
    display: inline-block;
    font-size: 13px;
    box-sizing: border-box;
    padding-left: 5px;
}

#keep-signed-in input {
    margin: 0px;
    height: 15px;
    width: 15px;
    display: inline-block;
    box-sizing: border-box;
}

.auth-errors {
    border: 1px solid #c40000;
    box-shadow: 0 0 0 3px rgba(221,0,0,.1) inset;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px 26px 15px 15px;
    margin-top: 2px;
    width: 350px;
    margin: 0 auto;
    margin-bottom: 15px;
    display: flex;
}

.auth-errors div {
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.auth-errors img {
    display: inline-block;
    object-fit: fill;
    box-sizing: border-box;
    width: 102%;
    height: 10px;
    margin-top: 10px;
}

.auth-errors span{
    display: inline-block;
    height: inherit;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

.auth-errors h4{
    color: #c40000;
    font-size: 17px;
    margin: 0px; 
    font-family: 'Lato', sans-serif;
    margin-bottom: 5px;
}
.auth-errors h5{
    margin: 0px;
    color: black;
}

h4.no-entry {
    color: #c40000;
    font-size: 12px;
    margin: 0px; 
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
}

input.no-entry {
    border: 1px solid #c40000;
    box-shadow: 0 0 0 3px rgba(221,0,0,.1) inset;
}

#auth-email p {
    color: #555555;
    margin: 0;
    padding: 5px 0;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    cursor: text;
}