.nav-top-line {
    display: flex;
    align-items: center;
    /* background-color: #131921; <- top line is darker in incognito mode, wow*/
    background-color: #232F3E;
    padding-top: 5px;
    margin-top: 0px;
    padding-bottom: 5px;
    position: relative;
    z-index: 9000;
}

.nav-top-line h1 {
    margin: inherit;
}

.nav-top-line .logo {
    height: 40px;
    width: 175px;
    min-width: 175px;
    border: 1px solid transparent;
    box-sizing: border-box;
    margin: 10px 5px;
    padding: 2px 5px;
    z-index: 1;
}

.nav-top-line img.logo {
    object-fit: cover;
    height: 40px;
    width: 125px;
    min-width: 125px;
    margin: 10px 35px 0px 10px;
    padding: 0px;
    pointer-events: none;
}
.nav-top-line .logo a {
    height: 45px;
    width: 145px;
    min-width: 145px;
}

.nav-top-line #logo-div {
    color: transparent;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: 5px;
    left: 57px;
    height: 50px;
    width: 165px;
    min-width: 165px;
}

/* .nav-top-line #logo-div:hover {
    border: 1px solid #f1f1f1;
    ONLY HAPPENS IN INCOGNITO MODE
} */

.searchbar div {
    display: flex;
    width: 100%;
}

.searchbar {
    display: flex;
    height: 35px;
    width: 52%;
    border-radius: 4px;
    margin-right: 5px;
    box-sizing: border-box;
}

.searchbar:hover {
    box-shadow: 0 1px 3px 3px rgba(1, 1, 1, 0.904);
}

.searchbar input {
    outline: none;
    background-color: whitesmoke;
    border-color: transparent;
    font-size: 13px;
    padding: 5px;
    width: 100%;
    height: inherit;
    box-sizing: border-box;
}

.searchbar:focus-within {
    background-color: #e77700;
    box-shadow: 0 0 1px 3px rgb(224, 153, 47);
}
.searchbar button {
    border-radius: 0px 4px 4px 0px;
    border: none;
    width: 45px;
    min-width: 45px;
    box-sizing: border-box;
    background: #febd69;
    height: inherit;
}

.searchbar button:hover {
    background: #f3a847;
}

#genre-select {
    border-radius: 4px 0px 0px 4px;
    text-decoration: none;
    border:none;
    background-image:none;
    background-color: #e9e9e9;
    color: rgba(17, 17, 17, 0.733);
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: transparent;
    font-family: 'Lato', sans-serif;
    padding: 5px 10px;
    font-size: 12px;
    border-right: 1px solid #a6a6a685;
    height: inherit;
    box-sizing: border-box;
    width: 48px;
    min-width: 48px;
}

#genre-select:hover {
    cursor: pointer;
    background-color: #cccaca;
    color: #111;
}

#genre-select:focus {
    outline: none;
    box-shadow: 3px 0 1px 3px rgb(224, 153, 47);
    border-right: 3px solid rgb(224, 153, 47);
}

#genre-select:focus + div {
    background-color: #232F3E;
    box-shadow: 7px 0 0 7px #232F3E;
}

#search-icon {
    height: 25px;
    width: 25px;
    min-width: 25px;
    padding: 0px 5px;
    opacity: 74%;
}

#cart {
    margin: 0px;
    padding: 0px 5px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid transparent;
    text-decoration: none;
    display: flex;
}

#cart:hover {
    cursor: pointer;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
}

#cart h4 {
    position: relative;
    left: 30px;
    font-size: 18px;
    color: #f08804;
    z-index: 2;
}

#cart img{
    object-fit: cover;
    height: 40px;
    width: 84px;
    min-width: 84px;
}

.nav-bottom-line {
    display: flex;
    align-items: center;
    background-color: #232F3E;
    padding: 5px;
    box-sizing: border-box;
    height: 40px;
    position: relative;
    z-index: 5;
}

.nav-bottom-line a {
    padding: 5px;
    font-size: 13px;
    color: #a6a6a6;
    background-color: transparent;
    text-decoration: none;
    margin-right: 45px;
    border: 1px solid transparent;
    vertical-align: center;
    min-width: fit-content;
}

.nav-bottom-line a:hover {
    border: 1px solid #f1f1f1;
    border-radius: 3px;
}

#search-by-studio {
    margin: 0px;
    font-size: 15px;
    padding: 5px 10px;
    font-family: 'Open Sans', sans-serif;
    z-index: 5;
}

div.search-by-studio {
    min-width: max-content;
}

#search-by-studio-span {
    margin-left: 40px;
    width: 160px;
    min-width: 160px;
}

#nav-bump {
    color: transparent;
    margin-right: 100px;
    display: inline-block;
}

#sidebar {
    border: 1px solid #aaaaaa75;
    border-radius: 3px;
    padding: 10px;
    height: 20px;
    width: 20px;
    min-width: 20px;
    margin-left: 10px;
}

#sidebar:hover {
    cursor: pointer;
    border: 1px solid #ffffff;
}

.lang-toggle-div {
    text-decoration: none;
    margin: 0px;
    width: 40px;
    min-width: 40px;
    height: 40px;
    padding: 2px 5px;
    color: #a6a6a6;
    border: 1px solid transparent;
    font-size: 12px;
    box-sizing: border-box;
    margin-right: 5px;
}

.lang-toggle-div a {
    text-decoration: none;
    margin: 0px;
    width: 40px;
    min-width: 40px;
    height: 40px;
    padding: 2px 5px;
    padding-left: 0px;
    color: #a6a6a6;
    border: 1px solid transparent;
    font-size: 12px;
    box-sizing: border-box;
    margin-right: 10px;
}

.lang-toggle-div img {
    width: 15px;
    height: 15px; 
    margin-right: 5px;
    margin-top: 2px;
}

#unchecked-radio {
    width: 12px;
    height: 12px;
    margin-left: 1px;
}

#language-toggle div {
    display: flex;
    align-items: center;
    padding-left: 2px;
}

.lang-toggle-div:hover {
    cursor: pointer;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
}

#lang-toggle-ul {
    visibility: hidden;
    float: left;
    list-style: none;
    position: relative;
    padding: 20px;
    top: -23px;
    left: -25px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ddd;
    box-shadow: 0 0 1px 1px #ddd inset;
    border-radius: 4px;
    box-sizing: border-box;
    width: 240px;
    min-width: 240px;
    transition: 0.125s ease;
}

.lang-toggle-div:hover #lang-toggle-ul {
    visibility: visible;
    transition: 0.125s ease;
}

#lang-toggle-ul {
    display: inline-block;
    opacity: 100;
    width: fit-content;
    height: fit-content;
    margin-right: 15px;
}

#lang-toggle-ul a {
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 13px;
    display: inline-block;
    height: auto;
    width: auto;
    min-width: auto;
    color: rgba(1, 1, 1, 0.904);
    border: none;
}

#lang-toggle-ul a:hover {
    border: none;
    cursor: pointer;
    text-decoration: underline;
    color: #e77600;
}

#account-dropdown {
    margin: 0px;
    margin-right: 5px;
    padding: 2px 5px;
    height: 40px;
    width: 135px;
    min-width: 135px;
    box-sizing: border-box;
    border: 1px solid transparent;
    z-index: 9001;
}

#account-dropdown:hover {
    cursor: pointer;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
}

#account-dropdown-ul {
    visibility: hidden;
    float: left;
    list-style: none;
    position: relative;
    padding: 20px;
    top: -14px;
    left: -260px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ddd;
    box-shadow: 0 0 1px 1px #ddd inset;
    border-radius: 4px;
    box-sizing: border-box;
    width: 500px;
    min-width: 500px;
    transition: 0.125s ease;
}

#account-dropdown:hover #account-dropdown-ul{
    visibility: visible;
    transition: 0.125s ease;
}

#account-dropdown-ul li {
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

#account-dropdown-ul li > a {
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 17px;
    display: inline-block;
    color: rgba(1, 1, 1, 0.904);
    border: none;
}

#account-dropdown-ul li > a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #e77600;
}



.account-dropdown a:hover {
    text-decoration: underline;
    color: #e77600;
}

#account-dropdown p {
    color: #a6a6a6;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

h4 {
    color: #ffffff;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

#order-history {
    text-decoration: none;
    margin: 0px;
    margin-right: 5px;
    padding: 2px 5px;
    height: 40px;
    width: 75px;
    min-width: 75px;
    box-sizing: border-box;
    border: 1px solid transparent;
}

#order-history:hover {
    cursor: pointer;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
}

#order-history p {
    color: #a6a6a6;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

#order-history h4 {
    color: #ffffff;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

#prime {
    text-decoration: none;
}

#try-prime {
    text-decoration: none;
    margin: 0px;
    padding: 2px 5px;
    height: 40px;
    width: 95px;
    min-width: 95px;
    box-sizing: border-box;
    border: 1px solid transparent;
}

#try-prime:hover {
    cursor: pointer;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
}

#prime p {
    color: transparent;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

#prime h4 {
    color: #ffffff;
    font-size: 14px;
    margin: 0px;
    position: absolute;
    padding: 0px;
    top: 28px;
}

#search-by-studio-span:after{
    content: "";    
    visibility: hidden;    
    position: absolute;
    left: 189px;
    transform: translateX(-50%);
    top: 26px;
    border-top: 0;
    z-index: 9005;
    border-bottom: 15px solid rgb(255, 255, 255);
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
}

#search-by-studio-span:hover:after{
    visibility: visible;
}

.search-by-studio-ul {
    visibility: hidden;
    float: left;
    list-style: none;
    position: absolute;
    padding: 15px;
    top: 50%;
    left: 2%;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ddd;
    box-shadow: 0 0 1px 1px #ddd inset;
    border-radius: 4px;
    box-sizing: border-box;
    width: 250px;
    min-width: 250px;
    transition: 0.125s ease;
}

#search-by-studio-span:hover .search-by-studio-ul{
    visibility: visible;
    transition: 0.125s ease;
}

.HIDDEN{
    visibility: hidden;
    display: none;
}

.search-by-studio-ul li {
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

.search-by-studio-ul li > a {
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 17px;
    display: inline-block;
    color: rgba(1, 1, 1, 0.904);
    border: none;
}

.search-by-studio-ul li > a:hover {
    border: none;
    cursor: pointer;
    text-decoration: underline;
    color: #e77600;
}

#language-toggle:before{
    content: "";
    display: block;    
    position: absolute;
    right: 414px;
    transform: translateX(-50%);
    top: 42px;
    border-top: 0;
    z-index: 9005;
    border-bottom: 10px solid rgb(255, 255, 255);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    opacity: 0%;
}

#language-toggle:hover:before{
    opacity: 100%; 
}

#account-dropdown:before{
    content: "";
    display: block;    
    position: absolute;
    right: 280px;
    transform: translateX(-50%);
    top: 43px;
    border-top: 0;
    z-index: 9005;
    border-bottom: 10px solid rgb(255, 255, 255);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    opacity: 0%;
}

#account-dropdown:hover:before{
    opacity: 100%; 
}

#try-prime ul {
    visibility: hidden;
    float: left;
    list-style: none;
    position: absolute;
    padding: 15px;
    top: 57%;
    right: 80px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ddd;
    box-shadow: 0 0 1px 1px #ddd inset;
    border-radius: 4px;
    box-sizing: border-box;
    width: 200px;
    min-width: 200px;
    transition: 0.15s ease;
}

#try-prime:hover ul{
    visibility: visible;
    transition: 0.125s ease;
}

#try-prime ul li a {
    color: #111;
}

#try-prime ul li a:hover {
    color: #e77600;
}

#try-prime:before{
    content: "";
    display: block;    
    position: absolute;
    right: 100px;
    transform: translateX(-50%);
    top: 43px;
    border-top: 0;
    z-index: 9005;
    border-bottom: 10px solid rgb(255, 255, 255);
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    opacity: 0%;
}

#try-prime:hover:before{
    opacity: 100%; 
}

.outermost {
    position: relative;
}