.nav-top-line {
    display: flex;
    align-items: center;
    /* background-color: #131921; <- top line is darker in incognito mode, wow*/
    background-color: #232F3E;
    padding-top: 5px;
    margin-top: 0px;
    padding-bottom: 5px;
    position: relative;
    z-index: 9000;
}

.nav-top-line h1 {
    margin: inherit;
}

.nav-top-line .logo {
    height: 40px;
    width: 175px;
    min-width: 175px;
    border: 1px solid transparent;
    box-sizing: border-box;
    margin: 10px 5px;
    padding: 2px 5px;
    z-index: 1;
}

.nav-top-line img.logo {
    object-fit: cover;
    height: 40px;
    width: 125px;
    min-width: 125px;
    margin: 10px 40px 0px 10px;
    padding: 0px;
    pointer-events: none;
}
.nav-top-line .logo a {
    height: 45px;
    width: 145px;
    min-width: 145px;
}

.nav-top-line #logo-div {
    color: transparent;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    top: 5px;
    left: 57px;
    height: 50px;
    width: 165px;
    min-width: 165px;
}

.nav-top-line #logo-div:hover {
    border: 1px solid #f1f1f1;
}

.searchbar div {
    display: flex;
    width: 100%;
}

.searchbar {
    display: flex;
    height: 40px;
    width: 50%;
    border-radius: 4px;
    margin-right: 5px;
    box-sizing: border-box;
}

.searchbar:hover {
    box-shadow: 0 1px 3px 3px rgba(1, 1, 1, 0.904);
}

.searchbar input {
    outline: none;
    background-color: whitesmoke;
    border-color: transparent;
    font-size: 13px;
    padding: 5px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
}

.searchbar:focus-within {
    background-color: #e77700;
    box-shadow: 0 0 1px 3px rgb(224, 153, 47);
}
.searchbar button {
    border-radius: 0px 4px 4px 0px;
    border: none;
    width: 45px;
    min-width: 45px;
    box-sizing: border-box;
    background: #febd69;
    height: inherit;
}

.searchbar button:hover {
    background: #f3a847;
}

#genre-select {
    border-radius: 4px 0px 0px 4px;
    text-decoration: none;
    border:none;
    background-image:none;
    background-color: #e9e9e9;
    color: rgba(17, 17, 17, 0.733);
    -webkit-appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: transparent;
    font-family: 'Lato', sans-serif;
    padding: 5px 10px;
    font-size: 14px;
    border-right: 1px solid #a6a6a685;
    height: 40px;
    box-sizing: border-box;
    width: 48px;
    min-width: 48px;
}

#genre-select:hover {
    cursor: pointer;
    background-color: #cccaca;
    color: #111;
}

#genre-select:focus {
    outline: none;
    box-shadow: 3px 0 1px 3px rgb(224, 153, 47);
    border-right: 3px solid rgb(224, 153, 47);
}

#genre-select:focus + div {
    background-color: #232F3E;
    box-shadow: 7px 0 0 7px #232F3E;
}

#search-icon {
    transform: scaleX(-1);
    height: 25px;
    width: 25px;
    min-width: 25px;
    padding: 2.5px 5px;
}

#cart {
    margin: 0px;
    padding: 0px 5px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid transparent;
    text-decoration: none;
    display: flex;
}

#cart:hover {
    cursor: pointer;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
}

#cart h4 {
    position: relative;
    left: 30px;
    font-size: 18px;
    color: #f08804;
    z-index: 2;
}

#cart img{
    transform: scale(1.1,1.5);
    height: 40px;
    width: 85px;
    min-width: 85px;
}

.nav-bottom-line {
    display: flex;
    align-items: center;
    background-color: #232F3E;
    padding: 5px;
    box-sizing: border-box;
    height: 40px;
    position: relative;
    z-index: 5;
}

.nav-bottom-line a {
    padding: 5px;
    font-size: 13px;
    color: #a6a6a6;
    background-color: transparent;
    text-decoration: none;
    margin-right: 45px;
    border: 1px solid transparent;
    vertical-align: center;
    min-width: fit-content;
}

.nav-bottom-line a:hover {
    border: 1px solid #f1f1f1;
    border-radius: 3px;
}

#search-by-studio {
    margin: 0px;
    font-size: 15px;
    padding: 5px 10px;
    font-family: 'Open Sans', sans-serif;
    z-index: 5;
}

div.search-by-studio {
    min-width: max-content;
}

#search-by-studio-span {
    margin-left: 40px;
    width: 160px;
    min-width: 160px;
}

#nav-bump {
    color: transparent;
    margin-right: 100px;
    display: inline-block;
}

#sidebar {
    border: 1px solid #aaaaaa75;
    border-radius: 3px;
    padding: 10px;
    height: 20px;
    width: 20px;
    min-width: 20px;
    margin-left: 10px;
}

#sidebar:hover {
    cursor: pointer;
    border: 1px solid #ffffff;
}

#language-toggle {
    text-decoration: none;
    margin: 0px;
    width: 40px;
    min-width: 40px;
    height: 40px;
    padding: 2px 5px;
    color: #a6a6a6;
    border: 1px solid transparent;
    font-size: 12px;
    box-sizing: border-box;
    margin-right: 10px;
}

#language-toggle img {
    width: 15px;
    min-width: 15px;
    height: 15px; 
    margin-right: 5px;
    margin-top: 2px;
}

#language-toggle div {
    display: flex;
    align-items: center;
}

#language-toggle:hover {
    cursor: pointer;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
}

#account-dropdown {
    margin: 0px;
    margin-right: 5px;
    padding: 2px 5px;
    height: 40px;
    width: 135px;
    min-width: 135px;
    box-sizing: border-box;
    border: 1px solid transparent;
    z-index: 9001;
}

#account-dropdown:hover {
    cursor: pointer;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
}

#account-dropdown-ul {
    visibility: hidden;
    float: left;
    list-style: none;
    position: absolute;
    padding: 15px;
    top: 53%;
    right: 25%;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ddd;
    box-shadow: 0 0 1px 1px #ddd inset;
    border-radius: 4px;
    box-sizing: border-box;
    width: 250px;
    min-width: 250px;
    transition: 0s visibility;
}

#account-dropdown:hover #account-dropdown-ul{
    visibility: visible;
    transition-delay: 0s;
}

#account-dropdown-ul li {
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

#account-dropdown-ul li > a {
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 17px;
    display: inline-block;
    color: rgba(1, 1, 1, 0.904);
    border: none;
}

#account-dropdown-ul li > a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #e77600;
}



.account-dropdown a:hover {
    text-decoration: underline;
    color: #e77600;
}

#account-dropdown p {
    color: #a6a6a6;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

h4 {
    color: #ffffff;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

#order-history {
    text-decoration: none;
    margin: 0px;
    margin-right: 5px;
    padding: 2px 5px;
    height: 40px;
    width: 75px;
    min-width: 75px;
    box-sizing: border-box;
    border: 1px solid transparent;
}

#order-history:hover {
    cursor: pointer;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
}

#order-history p {
    color: #a6a6a6;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

#order-history h4 {
    color: #ffffff;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

#prime {
    text-decoration: none;
    margin: 0px;
    padding: 2px 5px;
    height: 40px;
    width: 95px;
    min-width: 95px;
    box-sizing: border-box;
    border: 1px solid transparent;
}

#prime:hover {
    cursor: pointer;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
}

#prime p {
    color: transparent;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}

#prime h4 {
    color: #ffffff;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

#search-by-studio-ul {
    visibility: hidden;
    float: left;
    list-style: none;
    position: absolute;
    padding: 15px;
    top: 50%;
    left: 2%;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ddd;
    box-shadow: 0 0 1px 1px #ddd inset;
    border-radius: 4px;
    box-sizing: border-box;
    width: 250px;
    min-width: 250px;
    transition: 0s visibility;
}

#search-by-studio-span:hover #search-by-studio-ul{
    visibility: visible;
    transition-delay: 0s;
}

#search-by-studio-ul li {
    padding: 5px;
    box-sizing: border-box;
    text-align: center;
}

#search-by-studio-ul li > a {
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 17px;
    display: inline-block;
    color: rgba(1, 1, 1, 0.904);
    border: none;
}

#search-by-studio-ul li > a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: #e77600;
}