
.auth-errors {
    border: 1px solid #c40000;
    box-shadow: 0 0 0 3px rgba(221,0,0,.1) inset;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 20px 26px;
    margin-top: 2px;
    width: 350px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.auth-errors h4{
    color: #c40000;
    font-size: 17px;
    margin: 0px; 
    font-family: 'Lato', sans-serif;
    margin-bottom: 5px;
}
.auth-errors h5{
    margin: 0px;
    color: black;
}

h4.no-entry {
    color: #c40000;
    font-size: 12px;
    margin: 0px; 
    font-family: 'Lato', sans-serif;
    margin-top: 10px;
}

input.no-entry {
    border: 1px solid #c40000;
    box-shadow: 0 0 0 3px rgba(221,0,0,.1) inset;
}
