#product-top-line {
    width: 100%;
    position: relative;
    white-space: nowrap;
    margin-top: 50px;
}

.media {
    display: inline-block;
    vertical-align: top;
    width: 365px;
    min-width: 365px;
    height: 425px;
    margin: 15px;
    position: relative;
    left: 0px;
    box-sizing: border-box;
}

.media button {
    display: block;
    width: 40px;
    height: 40px;
    border: 0.5px solid  rgba(17, 17, 17, 0.25);
    background: transparent;
    margin: 2px;
}

.media button:hover {
    border-color: #e77600;
}

.media img {
    object-fit: contain;
    max-height: 100%;
    max-width: 85%;
    min-width: 250px;
    height: 95% !important;
    width: auto!important;
    position: relative;
    top: -83px;
    left: 45px;
    border: 0.5px solid rgba(17, 17, 17, 0.25);
}

.details {
    display: inline-block;
    vertical-align: top;
    margin: 15px 0px;
    height: 100%;
    width: 38%;
    min-width: 365px;
    padding: 0 15px;
    box-sizing: border-box;
}

.details h3 {
    width: 100%;
    font-size: 26px;
    margin: 0px;
}

.details h4 {
    width: 100%;
    font-size: 16px;
    color: #111;
    font-family: 'Lato', sans-serif;
    margin: 10px 5px 10px 0;
    padding-bottom: 15px;
}

.details h3 + h4 {
    border-bottom: 1px solid #e7e7e7;
}

.details a:hover {
    cursor: pointer;
}

.details h6 {
    font-size: 14px;
    color: #555555;
    display: inline-block;
    margin: 10px 5px 10px 0;
}

.details ul {
    width: 90%;
    font-size: 13px;
    padding-left: 20px;
    line-height: 1.3;
}

.details li {
    width: 100%;
    white-space: normal;
    margin: 5px;
}

#product-top-line h5#amount {
    font-size: 18px;
    color: #B12704;
    display: inline-block;
    margin-left: 10px;
    margin: 10px 5px 10px 0;
}

#calc-price {
    font-size: 14px !important;
    color: #B12704;
    display: inline-block;
    margin-right: 5px;
    font-family: 'Lato', sans-serif;
}

h4#calc-price {
    color: #555555c9;
}

#pricing {
    display: flex;
}

#pricing h4 {
    font-size: 13px;
    padding-bottom: 0px;
    padding-top: 5px;
}

.purchase-actions {
    width: 15%;
    min-width: 245px;
    height: auto;
    border: 1px #ddd solid;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 20px 26px;
    margin: 2px 20px;
    vertical-align: top;
    display: inline-block;
    position: relative;
    right: 0px;
}

.added-to-cart {
    width: fit-content;
    margin: 0;
    border: 1px #007600 solid;
    box-shadow: 0 0 2px 2px #0076008f inset;
    border-radius: 4px;
    box-sizing: border-box;
    margin: 2px 20px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 35%;
    top: -450px;
    height: 45px;
    box-sizing: border-box;
    opacity: 0%;
}

.added-to-cart #stock {
    font-size: 15px;
}

.added-to-cart img {
    height: 25px;
    width: 25px;
    max-height: 25px;
    max-width: 25px;
    min-height: 25px;
    min-width: 25px;
    object-fit: contain;
}

.added-to-cart p, .added-to-cart button {
    display: inline-block;
    margin: 2px;
}

.SHOW {
    top: -45px;
    opacity: 100%;
    transition: 0.2s ease;
}

.purchase-actions button {
    display: block;
    margin: 5px 0;
    height: 30px;
    font-weight: 600;
    position: relative;
    text-align: center;
    padding: 9px 0;
}

#button-sep {
    height: 1px;
    color: transparent;
}

.purchase-actions button img {
    height: 25px;
    width: 25px;
    border-radius: 3px;
    position: relative;
    top: -8px;
    left: -78px;
}

.purchase-actions button p {
    position: relative;
    top: -43px;
}

#buy-now {
    background-image: linear-gradient(rgb(246, 200, 143), rgb(237, 146, 32));
}

#buy-now:hover {
    background-image: linear-gradient(rgb(244, 188, 119), rgb(225, 133, 18));
}

#buy-now img {
    border-radius: 4px;
}

.purchase-actions h4 {
    color: #111;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
}

#purchase-amount {
    margin: 0 0 5px 0;
    font-size: 18px;
    color: #B12704;
}

#calc-price {
    margin: 0;
}

h5#calc-price {
    margin: 0 5px 0 18px;
}

#stock {
    color: #007600;
    font-size: 17px;;
}

#qty {
    background-image: linear-gradient(rgb(247, 248, 250), rgb(231, 233, 236));
    border-radius: 3px;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    text-align: center;
    width: 65px;
    height: 25px;
    padding: 10px;
    font-size: 12px;
    color: #111;
    margin: 0 0 30px 0;
    font-family: 'Lato', sans-serif;
}

#qty:hover {
    text-decoration: none;
    background-image: linear-gradient(rgb(231, 234, 240), rgb(217, 220, 225));
}

#qty:focus {
    outline: none;
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
}

#description {
    border-top: 1px solid #e7e7e7;
    margin: 15px;
    width: 81%;
    padding: 15px;
}

#description h3 {
    color: #C60;
    font-size: 22px;
    margin: 5px;
}

#description p {
    margin: 25px;
}

#description + h2 {
    font-size: 22px;
    margin: 15px;
    padding: 15px;
    border-top: 1px solid #e7e7e7;
    width: 81%;
}

#review-prod {
    margin: 15px;
    width: 300px;
    height: 300px;
    padding: 15px;
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    position: relative;
    border-top: 1px solid #e7e7e7;
}

#review-prod h3 {
    margin: 5px;
}

#review-prod p {
    margin: 5px;
    font-size: 14px;
}

a.create-review {
    background-image: linear-gradient(rgb(247, 248, 250), rgb(231, 233, 236));
    border-radius: 3px;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    text-align: center;
    padding: 10px;
    font-size: 13px;
    color: #111;
    width: 90%;
    margin: 15px 0;
    position: absolute;
    box-sizing: border-box;
}

a.create-review:hover {
    text-decoration: none;
    background-image: linear-gradient(rgb(231, 234, 240), rgb(217, 220, 225));
}

#cust-reviews {
    width: 50%;
    display: inline-block;
    margin: 15px;
    padding: 15px;
    position: relative;
    top: -82px;
    font-size: 14px;
}

#cust-reviews > h3 {
    margin: 0;
}

#cust-reviews > ul {
    margin: 15px;
    margin-left: 5px;
    list-style: none;
    padding: 2px;
}

.review-item {
    width: 90%;
    font-size: 13px;
    border-bottom: 1px solid #e7e7e7;
}

.review-item a {
    display: block;
    margin: 15px 5px;
    width: fit-content;
    font-size: 16px;
}

.review-item span img {
    height: 18px;
}

.review-item span h3 {
    display: inline-block;
    margin: 0px 5px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.review-item h4 {
    color: #555555;
    padding: 5px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}

.review-item p {
    word-wrap: break-word;
    white-space: normal;
    padding: 5px;
    margin-top: 5px;
}

#review-options {
    list-style: none;
    padding: 5px;
    width: 50px;
    box-sizing: border-box;
    height: 25px;
    margin: 0px;
    position: relative;
    left: 75%;
    top: 36px;
}

#review-options:hover {
    cursor: pointer;
}

#review-options img {
    width: 30px;
    left: 4px;
    top: -8px;
    position: relative;
    opacity: 65%;
}

#review-options:hover span {
    display: block;
}
#review-options:hover li {
    display: block;
}

#review-options:after{
    content: "";
    display: block;
    position: absolute;
    right: -2px;
    transform: translateX(-50%);
    top: 20px;
    border-top: 0;
    z-index: 9000;
    border-bottom: 14px solid rgb(255, 255, 255);
    border-right: 14px solid transparent;
    border-left: 14px solid transparent;
    opacity: 0%;
}

#review-options:hover:after{
    opacity: 100%; 
}

#review-options-section:before{
    content: "";
    display: block;
    position: absolute;
    right: -8px;
    transform: translateX(-50%);
    top: 17px;
    border-top: 0;
    z-index: 9000;
    border-bottom: 17px solid #adb1b865 ;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    opacity: 0%;
}

#review-options-section:hover:before{
    opacity: 100%; 
}

#review-options span {
    background-color: rgb(255, 255, 255);
    border: 1px solid #ddd;
    box-shadow: 0 0 1px 1px #ddd;
    display: none;
    width: 110px;
    margin: 0px;
    padding: 5px 1px;
    border-radius: 4px;
    position: relative;
    top: -5px;
    right: 37px;
    box-sizing: border-box;
}

#review-options li {
    display: none;
    box-sizing: border-box;
    padding: 5px;
    color: #111;
    white-space: nowrap;
}
#review-options li a{
    color: #111;
    white-space: nowrap;
    text-decoration: none;
}

#review-options li:hover {
    cursor: pointer;
}

#review-options li:hover a {
    cursor: pointer;
    color: #c45500;
}

.review-item a > img {
    width: 30px;
    max-width: 30px;
    height: 30px;
    max-height: 30px;
    border-radius: 50%;
    border: 5px solid #cccaca;
    margin-right: 10px;
}


.review-item span img#star {
    height: 18px;
    margin-left: 2px;
}

.review-item span:first-of-type {
    margin-left: 0px;
}

.review-item a {
    display: flex;
    justify-content: left;
    align-items: center;
    color: #111;
}

.review-item a > img#small-anime {
    width: 30px;
    max-width: 30px;
    height: 30px;
    max-height: 30px;
    border-radius: 3px;
    border: 1px solid #cccaca;
    margin-right: 10px;
}

.review-item a:hover {
    color: #e77600;
    text-decoration: none;
}