#profile-info {
    width: 80%;
    height: fit-content;
    border: 1px #ddd solid;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 20px 26px;
    margin: 20px auto;
    margin-bottom: 8%;
    position: relative;
}

#profile-info img {
    width: 300px;
    max-width: 300px;
    height: 300px;
    max-height: 300px;
    border-radius: 50%;
    border: 5px solid #cccaca;
    margin-right: 10%;
}

#profile-info img, #profile-info div {
    display: inline-block;
    vertical-align: top;
}

#profile-info h2 {
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
}

#profile-info h3 {
    font-size: 20px;
}

#profile-info h4 {
    font-size: 16px;
    color: #a6a6a6;
    margin-bottom: 40px;
}

#profile-info button {
    max-width: 225px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#profile-info button#change-lang-settings {
    max-width: 225px;
    position: absolute;
    bottom: 60px;
    right: 20px;
    background-image: linear-gradient(rgb(247, 248, 250), rgb(231, 233, 236));
    border-radius: 3px;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

#profile-info button#change-lang-settings:hover {
    text-decoration: none;
    background-image: linear-gradient(rgb(231, 234, 240), rgb(217, 220, 225));
    cursor: pointer;
}

.profile-page #cust-reviews {
    width: 40%;
    margin: 15px 30%;
    height: fit-content;
    border: 1px #ddd solid;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 20px 26px;
}

.profile-page #cust-reviews > h3 {
    font-size: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e7e7e7;
}

.auth-form #cancel {
    font-family: 'Lato', sans-serif;
    display: inline-block;
    width: 89px;
    font-size: 13px;
    vertical-align: top;
    background-image: linear-gradient(rgb(247, 248, 250), rgb(231, 233, 236));
    border-radius: 3px;
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    text-align: center;
    padding: 4px;
    color: #111;
    margin-right: 10px;
    height: 28px;
}

.auth-form #cancel:hover {
    text-decoration: none;
    background-image: linear-gradient(rgb(231, 234, 240), rgb(217, 220, 225));
    cursor: pointer;
}

#save-changes {
    display: inline-block;
    width: 197px;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    box-sizing: border-box;
    height: 28px;
}

.auth-form p {
    margin: 0px;
    padding: 5px 0;
    font-family: 'Lato', sans-serif;
}